:root {
  --background-color: #ffffff;
  --background-section: #e5e5e5;
  --dark-background-color: #2f303a;
  --background-team-section: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --active-color: #2196f3;
  --logo-text-color: #000000 25%;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --paragraf-text-color: #757575;
  --icon-color: #afb1b8;
  --container-color: #eeeeee;
  --main-font: Roboto, sans-serif;
  --border-color: #ececec;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal-button-stroke: rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  margin: 0;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.with-border {
  border-bottom: 1px solid var(--border-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styling*/

.header-content {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-set {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-text-color);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-set:hover,
.logo-set:focus {
  transform: scale(1.1);
}

.nav-section {
  margin-left: 93px;
  margin-top: auto;
}
.nav-web {
  color: var(--active-color);
}

.nav-list {
  display: flex;
  font-weight: 500;
  align-content: space-between;
  gap: 46px;
}
.nav-list-item {
  color: var(--main-text-color);
}

.transition-item {
  color: var(--main-text-color);
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-item:hover,
.transition-item:focus {
  color: var(--active-color);
  transform: scale(1.1);
}
.transition-item a:hover,
.transition-item a:focus {
  color: var(--active-color);
  transform: scale(1.1);
}

.underline::after {
  content: "";
  background-color: var(--active-color);
  height: 4px;
  display: block;
  border-radius: 2px;
}

.current-page {
  color: var(--active-color);
  display: block;
  padding-bottom: 28px;
}

.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-item {
  font-weight: 500;
  color: var(--paragraf-text-color);
  display: flex;
  align-items: center;
}
.icon-contact {
  margin-right: 10px;
  fill: var(--paragraf-text-color);
}
.contact-set {
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-set:hover,
.contact-set:focus {
  --paragraf-text-color: var(--active-color);
  transform: scale(1.1);
}

/* Hero section styling */

.hero-title {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  color: var(--secondary-text-color);
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 696px;
}
.hero {
  background-color: var(--dark-background-color);
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}
.hero-image {
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url(../images/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-button {
  background-color: var(--active-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 40px;
  border-radius: 4px;
  border: none;
  padding: 10px 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: var(--active-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  transform: scale(1.05);
}
/* futures section styling*/

.futures-icon-section {
  background-color: var(--background-team-section);
  padding: 25px 100px;
  border-radius: 4px;
}

.futures-title {
  text-transform: uppercase;
  color: var(--main-text-color);
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
}
.futures-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.futures-item {
  flex-basis: calc((100% - 90px) / 4);
}
.futures-text {
  text-align: left;
  color: var(--paragraf-text-color);
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* work section styling */

.work-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work-list > li {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work-image {
  display: block;
}
.work-overlay-section {
  position: absolute;
  background-color: var(--dark-background-color);
  width: 100%;
  opacity: 0.8;
  height: 70px;
  bottom: 0;
}
.work-overlay-section > p {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
  padding-top: 27px;
}

.work-title {
  text-align: center;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* team section styling */

.team-class {
  background-color: var(--background-team-section);
}

.team-title {
  font-weight: 700;
  color: var(--main-text-color);
  font-size: 36px;
  text-align: center;
  line-height: 1;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team-list-item {
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
}
.icon-class {
  fill: var(--icon-color);
  display: block;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
}
.social-icons > li,
.social-icons-footer > li {
  padding: 12px 12px;
  border-radius: 50%;
  transition-property: color, background-color, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-icons li:hover,
.social-icons li:focus {
  background-color: var(--active-color);
  transform: scale(1.1);
  --icon-color: var(--secondary-text-color);
  cursor: pointer;
}

/* Footer section styling */

footer {
  padding: 60px 0;
  background-color: var(--dark-background-color);
}
.footer-set {
  display: block;
}

.web-footer {
  color: var(--active-color);
}
.studio-footer {
  color: var(--secondary-text-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}
.logo-transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, transform;
}
.logo-transition:hover,
.logo-transition:focus {
  transform: scale(1.05);
}
.address-set {
  margin-top: 20px;
}
.address-transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, transform;
}
.address-transition:hover,
.address-transition:focus {
  --secondary-text-color: var(--active-color);
  --footer-text-color: var(--active-color);
  transform: scale(1.05);
}
.address-list {
  line-height: 1.46;
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: var(--footer-text-color);
  line-height: 1.46;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
  font-style: normal;
}

.contact-gap:not(:last-child) {
  margin-bottom: 9px;
}
.social-icons-footer li {
  border-radius: 50%;
  background-color: var(--footer-icon-color);
  /* transition-property: color, background-color, transform; */
}
.footer-icon-class {
  fill: var(--secondary-text-color);
  display: block;
}
.social-icons-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  transition-property: color, background-color, transform;
}
.footer-join {
  margin-left: 70px;
  margin-top: 30px;
}
.join-header-footer {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}
.footer-flex {
  display: flex;
}
.list-icons-footer {
  transition-property: color, transform;
}
.list-icons-footer:hover,
.list-icons-footer:focus {
  background-color: var(--active-color);
  --icon-color: var(--secondary-text-color);
  cursor: pointer;
  transform: scale(1.1);
}
/* Our clients section styling */

.clients {
  text-align: center;
}
.clients-section-title {
  font-weight: 700;

  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-list-item {
  width: 170px;
  height: 92px;
  border: solid 1px;
  border-color: var(--icon-color);
  border-radius: 4px;
  transition-property: color, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.clients-list-item:hover,
.clients-list-item:focus {
  border-color: var(--active-color);
  --icon-color: var(--active-color);
  transform: scale(1.05);
}
.clients-icon-class {
  fill: var(--icon-color);
  margin: 16px 32px;
}
/* Modal box styling*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  z-index: 100;
  visibility: visible;
  opacity: 1;
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.close-btn {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid var(--modal-button-stroke);
  border-radius: 50%;
  cursor: pointer;
}
/*Portfolio section styling */

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.card-image {
  display: block;
}

.card-image-layer {
  position: relative;
  width: 100%;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--active-color);
  opacity: 0.9;
  transform: translatey(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-image-layer:hover .overlay,
.img-section-active:hover .overlay {
  transform: translateX(0);
}

.overlay > p {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color);
  padding: 49px 45px 49px 24px;
}

.button-port {
  background-color: var(--background-team-section);
  padding: 6px 24px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.62;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, transform;
}
.button-port:hover,
.button-port:focus {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.portfolio-view {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.img-section {
  border: solid 1px;
  border-color: var(--border-color);
  border-top: 0;
  padding: 20px 24px;
}
.img-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.img-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
}
.card-list-item {
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow, cursor, transform;
}
.card-list-item:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
