:root {
  --background-color: #ffffff;
  --background-section: #e5e5e5;
  --dark-background-color: #2f303a;
  --background-team-section: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --active-color: #2196f3;
  --logo-text-color: #000000 25%;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --paragraf-text-color: #757575;
  --icon-color: #afb1b8;
  --container-color: #eeeeee;
  --main-font: Roboto, sans-serif;
  --border-color: #ececec;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  margin: 0;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.with-border {
  border-bottom: 1px solid;
  border-color: var(--border-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styling*/

.header-content {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-set {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-text-color);
}

.nav-section {
  margin-left: 93px;
}
.nav-web {
  color: var(--active-color);
}

.nav-list {
  display: flex;
  align-content: space-between;
  gap: 46px;
}
.nav-list-item {
  font-weight: 500;
  color: var(--main-text-color);
}
.current-page {
  color: var(--active-color);
}

header a:hover,
header a:focus {
  color: var(--active-color);
  cursor: pointer;
}
.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-item {
  font-weight: 500;
  color: var(--paragraf-text-color);
  display: flex;
  align-items: center;
}
.icon-contact {
  margin-right: 10px;
  fill: var(--paragraf-text-color);
}


.contact-set:hover,
.contact-set:focus {
  --paragraf-text-color: var(--active-color);
}

.hero-title {
  font-weight: 900;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  color: var(--secondary-text-color);
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 696px;
}
.hero {
  background-color: var(--dark-background-color);
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}
.hero-image {
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url(./images/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-button {
  background-color: var(--active-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 40px;
  border-radius: 4px;
  padding: 10px 40px;
}

button:hover,
button:focus {
  background-color: var(--active-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}
/* futures section styling*/

.futures-icon-section {
  background-color: var(--background-team-section);
  padding: 25px 100px;
  border-radius: 4px;
}
/* .futures-icon {
  fill: var(--icon-color);
} */
.futures-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
}
.futures-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.futures-item {
  flex-basis: calc((100%-90px) / 4);
}
.futures-text {
  text-align: left;
  color: var(--paragraf-text-color);
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* work section styling */

.work-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work-list > li {
  flex-basis: calc((100%-60px) / 3);
}
.work-image {
  display: block;
}
.work-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* team section styling */

.team-class {
  background-color: var(--background-team-section);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team-list-item {
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
}
.icon-class {
  fill: var(--icon-color);
  display: block;
}
.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
}
.social-icons > li,
.social-icons-footer > li {
  padding: 12px 12px;
  border-radius: 50%;
}

.social-icons li:hover,
.social-icons li:focus {
  background-color: var(--active-color);

  --icon-color: var(--secondary-text-color);
  cursor: pointer;
}

footer {
  padding: 60px 0;
  background-color: var(--dark-background-color);
}
.footer-set {
  display: block;
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}
.web-footer {
  color: var(--active-color);
}
.studio-footer {
  color: var(--secondary-text-color);
}

footer a:hover,
footer a:focus {
  color: var(--active-color);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--active-color);
}
.address-set {
  margin-top: 20px;
}
.address-list {
  line-height: 1.46;
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: var(--footer-text-color);
  line-height: 1.46;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
  font-style: normal;
}

.contact-gap:not(:last-child) {
  margin-bottom: 9px;
}
.social-icons-footer li {
  border-radius: 50%;
  background-color: var(--footer-icon-color);
}
.social-icons-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.footer-join {
  margin-left: 70px;
  margin-top: 30px;
}
.join-header-footer {
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
.footer-flex {
  display: flex;
}
.list-icons-footer:hover,
.list-icons-footer:focus {
  background-color: var(--active-color);
  --icon-color: var(--secondary-text-color);
  cursor: pointer;
}
/* Our clients section styling */

.clients {
  text-align: center;
}
.clients-section-title {
  font-weight: 700;

  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-list-item {
  width: 170px;
  height: 92px;
  border: solid 1px;
  border-color: var(--icon-color);
  border-radius: 4px;
}
.clients-list-item:hover,
.clients-list-item:focus {
  border-color: var(--active-color);
  --icon-color: var(--active-color);
}
.clients-icon-class {
  fill: var(--icon-color);
  margin: 16px 32px;
}
/* main portfolio section */

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.card-image {
  display: block;
}
/* .filters-item {
  text-align: center;
} */
.button-port {
  background-color: var(--background-team-section);
  padding: 6px 24px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.62;
}
.button-port:hover,
.button-port:focus {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.portfolio-view {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.img-section {
  border: solid 1px;
  border-color: var(--border-color);
  border-top: 0;
  padding-top: 20px;
}
.img-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-left: 24px;
}
.img-text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
  margin-left: 24px;
  margin-bottom: 20px;
}
.card-list-item {
  margin: 0 auto;
}
.card-list-item:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}
